/* Reset base */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 15px 30px;
}

/* Logo e nome */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

h1 {
    font-size: 24px;
    color: #0af;
}

/* Navbar */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #0af;
}

/* Contenitori */
.container {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    text-align: left;
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 15px;
    background: #222;
}

.typing-text::after {
    content: "";
    display: inline-block;
    animation: blink 0.4s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

/* Stile base della navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 1000;
}


::-webkit-scrollbar {
    width: 10px; 
}


::-webkit-scrollbar-track {
    background: #1e1e1e; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4a90e2, #0056b3); /* Gradiente di colore */
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.linea-elegante {
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    width: 80%;
    margin: 20px auto;
}

.menu {
    width: 100%; 
    max-width: 1200px; 
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

/* Animazione di apparizione su mobile */
@keyframes fadeInMobile {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media query per dispositivi mobili */
@media screen and (max-width: 768px) {
    body {
        animation: fadeInMobile 1s ease-out; 
    }

    .container {
        animation: fadeInMobile 1.5s ease-out; 
    }

    nav {
        display: none; 
    }

    ::-webkit-scrollbar {
        display: none; 
    }
}
